*{
    margin: 0 auto;
    padding: 0 auto;
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    background-color: #ffe600;
    background-image: linear-gradient(#ffe600, #ffc200);
    color: #fff;
    text-shadow: 1.5px 1px 5px #000;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
}

.menu-barra{
    width: 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    background-color: #ffe600;
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
}

.menu-barra li a{
    margin-left: 0px;
    margin-right: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu-barra li{
    margin: 5px;
    display: inline-block;
}

.menu-barra li a:hover{
    border-radius: 40px;
    background-color: #ffc200;
    background-image: linear-gradient(#ffc200, #ffe600);
    box-shadow: 0px 0px 10px #000;
    color: #fff;
    text-shadow: 1.5px 1px 5px #000;
}

#popup{
    margin: 0 auto;
    padding: 0 auto;
    display: none;
    position: fixed;
    background-color: #ffe600;
    background-image: linear-gradient(#ffe600, #ffc200);
}

#popup a:hover{
    border-radius: 40px;
    background-color: #ffc200;
    background-image: linear-gradient(#ffc200, #ffe600);
    box-shadow: 0px 0px 10px #000;
    color: #fff;
    text-shadow: 1.5px 1px 5px #000;
}

#formsFrame {
    width: 75%;
    height: 50vh;
    margin-top: 20px;
}

.formulario {
    
    font-size: 1em;
    padding: 5px;
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 30px;
    box-shadow: 0px 0px 15px #000;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    float: left;
}

.formulario input{
    margin-bottom:  5px;
}

/* Aplicar diseño a todos los input menos los submit*/

.formulario input[type="datetime"]{
    width: 102%;
}

.formulario input[type="email"]{
    width: 100.5%;
}

.tabla {
    padding: 0 auto;
    margin-right: 80px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    box-shadow: 0px 0px 15px #000;
    border-radius: 10px;
    display: flex;
    float: right;
}

.tabla th {
    /*Wrap content*/
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla td {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.tabla tr:nth-child(even) {
    background-color: #ffffff;
}

.tabla tr:nth-child(odd) {
    background-color: rgb(211, 211, 211);
}
