.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    background-color: #ffe600;
    background-image: linear-gradient(#ffe600, #ffc200);
    color: #fff;
    text-shadow: 1.5px 1px 5px #000;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
}

/* Use flexbox to place a sidebar */
#sidebar {
    background-color: #ffe600;
    background-image: linear-gradient(#ffe600, #ffc200);
    color: #fff;
    text-shadow: 1.5px 1px 5px #000;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.toogle-btn{
    font-size: 50px;
}

.contenido-central{
    background-color: #fff;
    text-shadow: 1px 1px 1px rgb(191, 191, 191);
    padding: 20px;
    border-radius: 20px;
}

.tabla {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tabla th {
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla td {
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.tabla tr:nth-child(even) {
    background-color: #ffffff;
}

.tabla tr:nth-child(odd) {
    background-color: rgb(211, 211, 211);
}