<script>
    function funcion(){
        //Obtener el id del elemento
        var id = document.activeElement.id;
        alert("El id del elemento clicado es: " + id);
        
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <button id="boton" onclick="funcion();">Epa</button>
    </div>
</body>
</html>

